<!DOCTYPE html>
<html>
    <head>
        <title>About Us page</title>
        <link rel="stylesheet" href="css/aboutUs.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" 
        rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" 
        crossorigin="anonymous">
    </head>
    <body>
        <section id = "about">
            <div class="about-1">
                <h1>ABOUT US</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Veniam, magni cupiditate deserunt dolore, dolorum quisquam 
                    itaque architecto enim quos laudantium praesentium tenetur 
                    assumenda impedit possimus. Fuga veritatis autem maxime 
                    possimus? Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Veniam, magni cupiditate deserunt dolore, dolorum quisquam 
                    itaque architecto enim quos laudantium praesentium tenetur 
                    assumenda impedit possimus. Fuga veritatis autem maxime 
                    possimus?
                    </p>
            </div>
            <div id="about-2">
                <div class="content-box-lg">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="about-item text-center">
                                    <i class="fa fa-book"></i>
                                    <h3>MISSION</h3>
                                    <hr>
                                    <p>Lorem ipsum, dolor sit amet consectetur 
                                        adipisicing elit. Doloribus magni ullam sint. 
                                        Ea esse rerum iste facere incidunt earum officia 
                                        doloribus aliquam obcaecati, atque amet ex neque quis, 
                                        saepe natus. Lorem ipsum, dolor sit amet consectetur 
                                        adipisicing elit. Doloribus magni ullam sint. 
                                        Ea esse rerum iste facere incidunt earum officia 
                                        doloribus aliquam obcaecati, atque amet ex neque quis, 
                                        saepe natus. 
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="about-item text-center">
                                    <i class="fa fa-globe"></i>
                                    <h3>VISION</h3>
                                    <hr>
                                    <p>Lorem ipsum, dolor sit amet consectetur 
                                        adipisicing elit. Doloribus magni ullam sint. 
                                        Ea esse rerum iste facere incidunt earum officia 
                                        doloribus aliquam obcaecati, atque amet ex neque quis, 
                                        saepe natus. Lorem ipsum, dolor sit amet consectetur 
                                        adipisicing elit. Doloribus magni ullam sint. 
                                        Ea esse rerum iste facere incidunt earum officia 
                                        doloribus aliquam obcaecati, atque amet ex neque quis, 
                                        saepe natus.
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="about-item text-center">
                                    <i class="fa fa-pencil"></i>
                                    <h3>ACHIVEMENTS</h3>
                                    <hr>
                                    <p>Lorem ipsum, dolor sit amet consectetur 
                                        adipisicing elit. Doloribus magni ullam sint. 
                                        Ea esse rerum iste facere incidunt earum officia 
                                        doloribus aliquam obcaecati, atque amet ex neque quis, 
                                        saepe natus. Lorem ipsum, dolor sit amet consectetur 
                                        adipisicing elit. Doloribus magni ullam sint. 
                                        Ea esse rerum iste facere incidunt earum officia 
                                        doloribus aliquam obcaecati, atque amet ex neque quis, 
                                        saepe natus.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <footer class="text-center">
            <p>Copyright &copy; 2023 All rights reserved by Software job Portal</p>
        </footer>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    </body>
</html>