<!DOCTYPE html>
<html>
    <head>
        <title>Contact Us Form</title>
        <link rel="stylesheet" href="css/contactUs.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <head>
        <body>
            <div class="container">
                <form>
                    <h1>contact Us</h1>
                    <input type="text" id="firstName" placeholder="First Name" required name="firstName">
                    <input type="text" id="lastName" placeholder="Last Name" required name="lastName">
                    <input type="email" id="email" placeholder="Email" required name="email">
                    <input type="text" id="mobile" placeholder="Mobile" required name="mobile">
                    <h4>Type your Message Here...</h4>
                    <textarea required name="message"></textarea>
                    <input type="submit" value="Send" id = "button">
                </form>
            </div>
        </body>
    </head>
</html>