<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="css/home.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Software Jobs</title>
    </head>

    <body>
        <div id = "root">

            <header>
                <a class="nI-gNb-header__logo nI-gNb-company-logo" href="#"
                                alt="Software website Logo"><img src="https://th.bing.com/th/id/OIP.WNLheLF5F8PKEGTg_z4AlgAAAA?w=154&h=180&c=7&r=0&o=5&dpr=1.3&pid=1.7" height="70"
                                    class="fl nLogo" href="#" alt="Software website Logo"></a>
                
                <input type="checkbox" id = "menu-bar">
                <label for = "menu-bar">Menu</label>
                <nav class = "navbar">
                    <ul>
                        <li><a href = "#">Home</a></li>
                        <li><a href = "aboutUs">About us</a></li>
                        <li><a href = "#">Companies</a>
        
                            <ul class="nI-gNb-dropdownMenuGroup">
                                <li><a class="nI-gNb-header1__headerAnchor">Research companies<span
                                            class="ambox-by nI-gNb-dropdown__by"> by</span><img
                                            class="ambox-icon nI-gNb-dropdown__icon"
                                            src="https://static.naukimg.com/s/0/0/i/ambitionBoxLogo.png" height="14"
                                            width="12"><span class="ambox-text nI-gNb-dropdown__text">
                                            Ambitionbox</span></a></li>
                                <li class="nI-gNb-menuItems"><a target="_blank"
                                        href="https://www.ambitionbox.com/interviews?utm_source=naukri&utm_medium=desktop&utm_campaign=gnb"
                                        title="Interview questions">
                                        <div>Interview questions</div>
                                    </a></li>
                                <li class="nI-gNb-menuItems"><a target="_blank"
                                        href="https://www.ambitionbox.com/salaries?utm_source=naukri&utm_medium=desktop&utm_campaign=gnb"
                                        title="Company salaries">
                                        <div>Company salaries</div>
                                    </a></li>
                                <li class="nI-gNb-menuItems"><a target="_blank"
                                        href="https://www.ambitionbox.com/reviews?utm_source=naukri&utm_medium=desktop&utm_campaign=gnb"
                                        title="Company reviews">
                                        <div>Company reviews</div>
                                    </a></li>
                                <li class="nI-gNb-menuItems"><a target="_blank"
                                        href="https://www.ambitionbox.com/salaries/take-home-salary-calculator?utm_campaign=gnb&utm_source=naukri&utm_medium=desktop"
                                        title="Salary Calculator">
                                        <div>Salary Calculator</div>
                                    </a></li>
                            </ul>
                        </li>
                        <li><a href = "contact">Contact us</a></li>
                        <li>   
                            <a title="Jobseeker Login" 
                            href="login" id="login_Layer" 
                            data-ga-track="Main Navigation Login|Login Icon" class="nI-gNb-lg-rg__login">Login </a></li>
                            
                        <li><a title="Jobseeker Register"
                            href="register" id="register_Layer"
                            data-ga-track="Main Navigation Register|Register Icon" class="nI-gNb-lg-rg__register">Register</a></li> 
                        
                        <li><a href="/" onclick="javascript:event.target.port=5000">Get Job Openings</a></li>
                    </ul>
                </nav>
            </header>
    
            <div id="mainSection.inventory-4">
                <div id="mainSection.inventory-4.naukri-ab-interview-wdgt.v0"
                    class="naukri-wdgt naukri-ab-interview-wdgt naukri-js-wdgt" data-widget-name="naukri-ab-interview-wdgt">
                    <div id="ab-interview-wdgt">
                        <div class="ab-interview-wdgt">
                            <div class="card-container" data-label="by AmbitionBox">
                                <div class="one">
                                    <h3 class="heading">Prepare for your next interview</h3>
                                    <div class="left-image"><img src="https://static.naukimg.com/s/0/0/i/ab-interview.png"
                                            class="ab-img" alt="naukri ab interview"></div>
                                </div>
                                <div class="two">
                                    <p class="card-heading">Interview questions by company</p>
                                    <div class="chip">
                                        <div class="chip-image"><img
                                                src="https://static.naukimg.com/s/0/0/i/ambitionbox-comp/amazon.png"
                                                class="chip-image-dim" alt="naulogo"></div>
                                        <div class="chip-text">
                                            <div class="chip-heading-div"><a
                                                    href="https://www.ambitionbox.com/interviews/amazon-interview-questions?utm_source=naukri&utm_medium=desktop&utm_campaign=nonlogged_homepage"
                                                    class="chip-heading">Amazon</a><img class="arrow-icon"
                                                    src="//static.naukimg.com/s/7/0/assets/images/src/common/components/assets/arrow.77068bf0.png"
                                                    alt="arrow-icon"></div><br>
                                            <p class="chip-count">1.7K+ Interviews</p>
                                        </div>
                                    </div>
                                    <div class="chip">
                                        <div class="chip-image"><img
                                                src="https://static.naukimg.com/s/0/0/i/ambitionbox-comp/tcs.png"
                                                class="chip-image-dim" alt="naulogo"></div>
                                        <div class="chip-text">
                                            <div class="chip-heading-div"><a
                                                    href="https://www.ambitionbox.com/interviews/tcs-interview-questions?utm_source=naukri&utm_medium=desktop&utm_campaign=nonlogged_homepage"
                                                    class="chip-heading">TCS</a><img class="arrow-icon"
                                                    src="//static.naukimg.com/s/7/0/assets/images/src/common/components/assets/arrow.77068bf0.png"
                                                    alt="arrow-icon"></div><br>
                                            <p class="chip-count">2.5K+ Interviews</p>
                                        </div>
                                    </div>
                                    <div class="chip">
                                        <div class="chip-image"><img
                                                src="https://static.naukimg.com/s/0/0/i/ambitionbox-comp/byjus.png"
                                                class="chip-image-dim" alt="naulogo"></div>
                                        <div class="chip-text">
                                            <div class="chip-heading-div"><a
                                                    href="https://www.ambitionbox.com/interviews/byjus-interview-questions?utm_source=naukri&utm_medium=desktop&utm_campaign=nonlogged_homepage"
                                                    class="chip-heading">Byjus</a><img class="arrow-icon"
                                                    src="//static.naukimg.com/s/7/0/assets/images/src/common/components/assets/arrow.77068bf0.png"
                                                    alt="arrow-icon"></div><br>
                                            <p class="chip-count">816 Interviews</p>
                                        </div>
                                    </div>
                                    <div class="chip">
                                        <div class="chip-image"><img
                                                src="https://static.naukimg.com/s/0/0/i/ambitionbox-comp/cognizant.png"
                                                class="chip-image-dim" alt="naulogo"></div>
                                        <div class="chip-text">
                                            <div class="chip-heading-div"><a
                                                    href="https://www.ambitionbox.com/interviews/cognizant-interview-questions?utm_source=naukri&utm_medium=desktop&utm_campaign=nonlogged_homepage"
                                                    class="chip-heading">Cognizant</a><img class="arrow-icon"
                                                    src="//static.naukimg.com/s/7/0/assets/images/src/common/components/assets/arrow.77068bf0.png"
                                                    alt="arrow-icon"></div><br>
                                            <p class="chip-count">1.6K+ Interviews</p>
                                        </div>
                                    </div>
                                    <div class="chip">
                                        <div class="chip-image"><img
                                                src="https://static.naukimg.com/s/0/0/i/ambitionbox-comp/accenture.png"
                                                class="chip-image-dim" alt="naulogo"></div>
                                        <div class="chip-text">
                                            <div class="chip-heading-div"><a
                                                    href="https://www.ambitionbox.com/interviews/accenture-interview-questions?utm_source=naukri&utm_medium=desktop&utm_campaign=nonlogged_homepage"
                                                    class="chip-heading">Accenture</a><img class="arrow-icon"
                                                    src="//static.naukimg.com/s/7/0/assets/images/src/common/components/assets/arrow.77068bf0.png"
                                                    alt="arrow-icon"></div><br>
                                            <p class="chip-count">2K+ Interviews</p>
                                        </div>
                                    </div>
                                    <div class="chip">
                                        <div class="chip-image"><img
                                                src="https://static.naukimg.com/s/0/0/i/ambitionbox-comp/flipkart.png"
                                                class="chip-image-dim" alt="naulogo"></div>
                                        <div class="chip-text">
                                            <div class="chip-heading-div"><a
                                                    href="https://www.ambitionbox.com/interviews/flipkart-interview-questions?utm_source=naukri&utm_medium=desktop&utm_campaign=nonlogged_homepage"
                                                    class="chip-heading">Flipkart</a><img class="arrow-icon"
                                                    src="//static.naukimg.com/s/7/0/assets/images/src/common/components/assets/arrow.77068bf0.png"
                                                    alt="arrow-icon"></div><br>
                                            <p class="chip-count">488 Interviews</p>
                                        </div>
                                    </div>
                                    <div class="view-roles"><a class="view-more-text"
                                            href="https://www.ambitionbox.com/interviews?utm_source=naukri&utm_medium=desktop&utm_campaign=nonlogged_homepage">View
                                            all companies<img class="arrow-icon"
                                                src="//static.naukimg.com/s/7/0/assets/images/src/widgets/ab-interview-wdgt/v6/assets/blueArrowImg.8a0acdaa.png"
                                                alt="arrow-icon"></a></div>
                                </div>
                                <div class="three">
                                    <p class="card-heading">Interview questions by role</p>
                                    <div>
                                        <div class="section3"><a
                                                href="https://www.ambitionbox.com/profiles/software-engineer/interview-questions?utm_source=naukri&utm_medium=desktop&utm_campaign=nonlogged_homepage"
                                                class="role-headline">Software Engineer &nbsp;</a>
                                            <p class="role-count"> (7.2K+ questions)</p>
                                        </div>
                                        <hr class="hrLine">
                                    </div>
                                    <div>
                                        <div class="section3"><a
                                                href="https://www.ambitionbox.com/profiles/business-analyst/interview-questions?utm_source=naukri&utm_medium=desktop&utm_campaign=nonlogged_homepage"
                                                class="role-headline">Business Analyst &nbsp;</a>
                                            <p class="role-count"> (2.8K+ questions)</p>
                                        </div>
                                        <hr class="hrLine">
                                    </div>
                                    <div>
                                        <div class="section3"><a
                                                href="https://www.ambitionbox.com/profiles/consultant/interview-questions?utm_source=naukri&utm_medium=desktop&utm_campaign=nonlogged_homepage"
                                                class="role-headline">Consultant &nbsp;</a>
                                            <p class="role-count"> (2.4K+ questions)</p>
                                        </div>
                                        <hr class="hrLine">
                                    </div>
                                    <div>
                                        <div class="section3"><a
                                                href="https://www.ambitionbox.com/profiles/financial-analyst/interview-questions?utm_source=naukri&utm_medium=desktop&utm_campaign=nonlogged_homepage"
                                                class="role-headline">Financial Analyst &nbsp;</a>
                                            <p class="role-count"> (894 questions)</p>
                                        </div>
                                        <hr class="hrLine">
                                    </div>
                                    <div>
                                        <div class="section3"><a
                                                href="https://www.ambitionbox.com/profiles/sales-and-marketing/interview-questions?utm_source=naukri&utm_medium=desktop&utm_campaign=nonlogged_homepage"
                                                class="role-headline">Sales & Marketing &nbsp;</a>
                                            <p class="role-count"> (991 questions)</p>
                                        </div>
                                        <hr class="hrLine">
                                    </div>
                                    <div>
                                        <div class="section3"><a
                                                href="https://www.ambitionbox.com/profiles/quality-engineer/interview-questions?utm_source=naukri&utm_medium=desktop&utm_campaign=nonlogged_homepage"
                                                class="role-headline">Quality Engineer &nbsp;</a>
                                            <p class="role-count"> (1.3K+ questions)</p>
                                        </div>
                                    </div>
                                    <div class="view-roles"><a class="view-more-text"
                                            href="https://www.ambitionbox.com/interviews/profiles?utm_source=naukri&utm_medium=desktop&utm_campaign=nonlogged_homepage">View
                                            all roles<img class="arrow-icon"
                                                src="//static.naukimg.com/s/7/0/assets/images/src/widgets/ab-interview-wdgt/v6/assets/blueArrowImg.8a0acdaa.png"
                                                alt="arrow-icon"></a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <span class="wdgt-track-view" data-id="mainSection.inventory-4.naukri-ab-interview-wdgt.v0"></span>
                </div>
            </div>
            
            <div id="scrap"></div>
            <section id = "about">
            <div class="about-1">
                <h1>ABOUT US</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Veniam, magni cupiditate deserunt dolore, dolorum quisquam 
                    itaque architecto enim quos laudantium praesentium tenetur 
                    assumenda impedit possimus. Fuga veritatis autem maxime 
                    possimus?</p>
            </div>
            <div id="about-2">
                <div class="content-box-lg">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="about-item text-center">
                                    <i class="fa fa-book"></i>
                                    <h3>MISSION</h3>
                                    <hr>
                                    <p>Lorem ipsum, dolor sit amet consectetur 
                                        adipisicing elit. Doloribus magni ullam sint. 
                                        Ea esse rerum iste facere incidunt earum officia 
                                        doloribus aliquam obcaecati, atque amet ex neque quis, 
                                        saepe natus. Lorem ipsum, dolor sit amet consectetur 
                                        adipisicing elit. Doloribus magni ullam sint. 
                                        Ea esse rerum iste facere incidunt earum officia 
                                        doloribus aliquam obcaecati, atque amet ex neque quis, 
                                        saepe natus. Lorem ipsum, dolor sit amet consectetur 
                                        adipisicing elit. Doloribus magni ullam sint. 
                                        Ea esse rerum iste facere incidunt earum officia 
                                        doloribus aliquam obcaecati, atque amet ex neque quis, 
                                        saepe natus. Lorem ipsum, dolor sit amet consectetur 
                                        adipisicing elit. Doloribus magni ullam sint. 
                                        Ea esse rerum iste facere incidunt earum officia 
                                        doloribus aliquam obcaecati, atque amet ex neque quis, 
                                        saepe natus.
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="about-item text-center">
                                    <i class="fa fa-globe"></i>
                                    <h3>VISION</h3>
                                    <hr>
                                    <p>Lorem ipsum, dolor sit amet consectetur 
                                        adipisicing elit. Doloribus magni ullam sint. 
                                        Ea esse rerum iste facere incidunt earum officia 
                                        doloribus aliquam obcaecati, atque amet ex neque quis, 
                                        saepe natus. Lorem ipsum, dolor sit amet consectetur 
                                        adipisicing elit. Doloribus magni ullam sint. 
                                        Ea esse rerum iste facere incidunt earum officia 
                                        doloribus aliquam obcaecati, atque amet ex neque quis, 
                                        saepe natus. Lorem ipsum, dolor sit amet consectetur 
                                        adipisicing elit. Doloribus magni ullam sint. 
                                        Ea esse rerum iste facere incidunt earum officia 
                                        doloribus aliquam obcaecati, atque amet ex neque quis, 
                                        saepe natus. Lorem ipsum, dolor sit amet consectetur 
                                        adipisicing elit. Doloribus magni ullam sint. 
                                        Ea esse rerum iste facere incidunt earum officia 
                                        doloribus aliquam obcaecati, atque amet ex neque quis, 
                                        saepe natus.
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="about-item text-center">
                                    <i class="fa fa-pencil"></i>
                                    <h3>ACHIVEMENTS</h3>
                                    <hr>
                                    <p>Lorem ipsum, dolor sit amet consectetur 
                                        adipisicing elit. Doloribus magni ullam sint. 
                                        Ea esse rerum iste facere incidunt earum officia 
                                        doloribus aliquam obcaecati, atque amet ex neque quis, 
                                        saepe natus. Lorem ipsum, dolor sit amet consectetur 
                                        adipisicing elit. Doloribus magni ullam sint. 
                                        Ea esse rerum iste facere incidunt earum officia 
                                        doloribus aliquam obcaecati, atque amet ex neque quis, 
                                        saepe natus. Lorem ipsum, dolor sit amet consectetur 
                                        adipisicing elit. Doloribus magni ullam sint. 
                                        Ea esse rerum iste facere incidunt earum officia 
                                        doloribus aliquam obcaecati, atque amet ex neque quis, 
                                        saepe natus. Lorem ipsum, dolor sit amet consectetur 
                                        adipisicing elit. Doloribus magni ullam sint. 
                                        Ea esse rerum iste facere incidunt earum officia 
                                        doloribus aliquam obcaecati, atque amet ex neque quis, 
                                        saepe natus.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </section>

            {{!-- <a href="/" onclick="javascript:event.target.port=5000">Get Job Openings</a> --}}

            <footer class="text-center">
                <p>Copyright &copy; 2023 All rights reserved by Software job Portal</p>
            </footer>
        </div>
    </body>
</html>
