<!DOCTYPE html>
<html>
<title>Real Time Data</title>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<body style="padding: 2em">
    <table class="table table-striped table-bordered">
        <tr>
        <th>Title</th>
        </tr>
        <% for (var i = 0; i < titles.length; i=i+2) { %>
        <tr>
        <td><a href="<%= titles[i] %>"><%= titles[i+1] %></a></td>
        </tr>    
        <% } %>
    </table>
</body>
</html>
